<form method='post' url="{$host}home/simpansavedata/cl_karyawan" id="form_{$main}" enctype="multipart/form-data">
	<input type="hidden" name="editstatus" id="editstatus" value='{$editstatus|default:'add'}'>
	{if $editstatus eq 'edit'}
	<input type="hidden" name="NIK" id="NIK" value='{$data.NIK|default:''}'>
	{/if}
	
	{include file="template/form_user.html" mod={$modul_main} judul="Create User"}
	<div class="span12">
		<div class="well blue">
			<div class="well-header">
				<h5>Data Karyawan</h5>
			</div>
			<div class="well-content no-search">
				<div class="form_row">
					<label class="field_name align_right">NIK</label>
					<div class="field">
						{if $editstatus eq 'edit'}{$data.NIK|default:''}
						{else}
						<input class="span8 easyui-validatebox" type="text" name="NIK" id="NIK" value="">
						{/if}
						
					</div>
				</div>
				<div class="form_row">
					<label class="field_name align_right">Nama</label>
					<div class="field">
						<input class="span8 easyui-validatebox" type="text" name="Nama" id="Nama" value="{$data.Nama|default:''}">
					</div>
				</div>
				<div class="form_row">
					<label class="field_name align_right">Jabatan</label>
					<div class="field">
						 <select class="chosen easyui-validatebox" id="cl_jabatan_kode" name="cl_jabatan_kode">
							{foreach from=$jabatan item=i}
							<option value="{$i.kode}" {if $editstatus eq 'edit'}{if $data.cl_jabatan_kode eq $i.kode}selected{/if}{/if}>{$i.jabatan}</option>
							{/foreach}
						 </select>
					</div>
				</div>
				<div class="form_row">
					<label class="field_name align_right">Alamat</label>
					<div class="field">
						<textarea class="span12" cols="40" rows="5" name="Alamat" id="Alamat" style="resize: vertical; height: 88px;">{$data.Alamat|default:''}</textarea>
						
					</div>
				</div>
				<div class="form_row">
					<label class="field_name align_right">No. Tlp</label>
					<div class="field">
						<input class="span8" type="text" name="NoTelepon" id="NoTelepon" value="{$data.NoTelepon|default:''}">
					</div>
				</div>
				<div class="form_row">
					<label class="field_name align_right">Email</label>
					<div class="field">
						<input class="span8 easyui-validatebox" type="text" name="Email" id="Email" value="{$data.Email|default:''}">
					</div>
				</div>
				<div class="form_row">
					<div class="field">
						<a href="javascript:void(0);" class="btn blue" id="simpan_{$modul_main}">Simpan</a>
						<a href="javascript:void(0);" class="btn grey" id="batal_{$modul_main}">Tutup</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	</form>
<script>
	$(".easyui-validatebox").validatebox({ required:true }); 
	
	
	$('#simpan_{$modul_main}').bind('click',function(){
		if ($('#form_{$main}').form('validate')){
			submit_form('form_{$main}',function(r){
				if(r==1){
					$('#batal_{$modul_main}').trigger('click');
					$('#grid_{$modul_main}').datagrid('reload');
					$.messager.alert('E-Learning','Data Tersimpan!!', 'info');
					
				}
				else{
					console.log(r);
					$.messager.alert('E-Learning','Gagal Tersimpan!!', 'error');
				}
			});
		}
		else{
			$.messager.alert('E-Learning','Isikan Data Yang Kosong!!', 'error');
		}
	});
	$('#batal_{$modul_main}').bind('click',function(){
		$('#grid_na_{$modul_main}').show();
		$('#detil_na_{$modul_main}').hide();
	});
</script>