<div id="sidebar" style="margin-top:35px;"> <!-- Sidebar start -->
        <div class="inner_sidebar">
            <ul class="tabs clearfix">
                <li class="tab active"><a href="#first"><i class="icon-home"></i></a></li>
                <li class="tab"><a href="#second"><i class="icon-th"></i></a></li>
                <li class="tab"><a href="#third"><i class="icon-fullscreen"></i></a></li>
            </ul>
            <div class="tabs_container">
                <div class="tabs-content no_padding">
                    <div class="tab-box no_padding" id="first">
                       
                        <div class="widget_content">
                            <h5><i class="icon-reorder"></i> Pengumuman</h5>
                            <div class="sidebar_widget">
                                <div class="alert">
                                    <button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
                                    <strong>Perhatian!</strong><br> Besok Ujian Pada Pukul 23:00 WITA.
                                </div>
                                <div class="alert alert-error">
                                    <button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
                                    <strong>Pengumuman</strong><br> Harap Kumpulkan Tugas Kepada Yang Berhak dan selalu beramal kepada anak yatim.
                                </div>
                            </div>
                        </div>
                    <div class="tab-box no_padding" id="second">
                        <div class="widget_content">
                            <h5><i class="icon-picture"></i> Latest Added Media</h5>
                            <div class="sidebar_widget">
                                <div class="row-fluid">
                                    <div class="span6">
                                        <div class="view">
                                            <div class="image">
                                               No Image
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span6">
                                        <div class="view">
                                            <div class="image">
                                                No Image
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                                <div class="row-fluid">
                                    <div class="span6">
                                        <div class="view">
                                            <div class="image">
                                                No Image
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span6">
                                        <div class="view">
                                            <div class="image">
                                                No Image
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-box no_padding" id="third">
                        <div class="widget_content">
                            <h5><i class="icon-reorder"></i> Sidebar Forms</h5>
                            <div class="sidebar_widget">
                                <div class="row-fluid">
                                    <div class="sidebar_field">
                                        <input type="text" class="span12" name="standard" placeholder="Standard input">
                                    </div>
                                    <div class="sidebar_field">
                                        <div class="row-fluid">
                                            <div class="span4">
                                                <input type="text" class="span12" name="standard" placeholder=".span3">
                                            </div>
                                            <div class="span4">
                                                <input type="text" class="span12" name="standard" placeholder=".span3">
                                            </div>
                                            <div class="span4">
                                                <input type="text" class="span12" name="standard" placeholder=".span3">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sidebar_field control-group warning">
                                        <input type="text" class="span12" name="standard" placeholder="Another">
                                    </div>
                                    <div class="sidebar_field control-group error">
                                        <input type="text" class="span12" name="standard" placeholder="Standard input">
                                    </div>
                                    <div class="sidebar_field control-group success">
                                        <input type="text" class="span12" name="standard" placeholder="Standard input">
                                    </div>
                                    <div class="sidebar_field">
                                        <div class="span12 no-search">
                                            <select class="chosen">
                                                <option>Show all results</option>
                                                <option>Show results</option>
                                                <option>Show another results</option>
                                                <option>Only mine</option>
                                                <option>Display none</option>
                                            </select>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="sidebar_field">
                                        <div class="span12">
                                            <select class="chosen">
                                                <option>Show all results</option>
                                                <option>Show results</option>
                                                <option>Show another results</option>
                                                <option>Only mine</option>
                                                <option>Display none</option>
                                            </select>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="sidebar_buttons align_right">
                                    <a href="#" class="btn blue">Save</a>
                                    <a href="#" class="btn grey">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>