<div class="span12">
                        <div class="well orange">
                            <div class="well-header">
                                <h5>Messages</h5>
                                <ul>
                                    <li><a href="#"><i class="icon-rotate-right"></i></a></li>
                                    <li class="color_pick"><a href="#"><i class="icon-th"></i></a>
                                        <ul>
                                            <li><a class="blue set_color" href="#"></a></li>
                                            <li><a class="light_blue set_color" href="#"></a></li>
                                            <li><a class="grey set_color" href="#"></a></li>
                                            <li><a class="pink set_color" href="#"></a></li>
                                            <li><a class="red set_color" href="#"></a></li>
                                            <li><a class="orange set_color" href="#"></a></li>
                                            <li><a class="yellow set_color" href="#"></a></li>
                                            <li><a class="green set_color" href="#"></a></li>
                                            <li><a class="dark_green set_color" href="#"></a></li>
                                            <li><a class="turq set_color" href="#"></a></li>
                                            <li><a class="dark_turq set_color" href="#"></a></li>
                                            <li><a class="purple set_color" href="#"></a></li>
                                            <li><a class="violet set_color" href="#"></a></li>
                                            <li><a class="dark_blue set_color" href="#"></a></li>
                                            <li><a class="dark_red set_color" href="#"></a></li>
                                            <li><a class="brown set_color" href="#"></a></li>
                                            <li><a class="black set_color" href="#"></a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>

                            <div class="well-content no_padding">
                                <div class="chat_line">
                                    <div class="avatar">
                                        <img src="__assets/images/avatar/avatar_06.png" alt="Avatar">
                                    </div>

                                    <div class="message">
                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                                    </div>
                                </div>
                                <div class="chat_line right_side">
                                    <div class="avatar">
                                        <img src="__assets/images/avatar/avatar.png" alt="Avatar">
                                    </div>

                                    <div class="message">
                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
                                    </div>
                                </div>
                                <div class="chat_line">
                                    <div class="avatar">
                                        <img src="__assets/images/avatar/avatar_06.png" alt="Avatar">
                                    </div>

                                    <div class="message">
                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                                    </div>
                                </div>
                                <div class="chat_line">
                                    <div class="avatar">
                                        <img src="__assets/images/avatar/avatar_06.png" alt="Avatar">
                                    </div>

                                    <div class="message">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore...</p>
                                    </div>
                                </div>
                                <div class="chat_line right_side">
                                    <div class="avatar">
                                        <img src="__assets/images/avatar/avatar.png" alt="Avatar">
                                    </div>

                                    <div class="message">
                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                                    </div>
                                </div>
                                <div class="type_message">
                                    <input type="text" class="span12" name="message" placeholder="Type message here..">
                                    <button type="submit" class="btn input_button orange"><i class="icon-arrow-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>